@charset "UTF-8";
@-o-viewport{
    zoom: 1;
    width: extend-to-zoom;
}
html {
    font-size: 90%;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #383232;
    min-height: 8vh;
    position: fixed;
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
nav li{
    list-style: none;
}
nav li:hover{
    border-bottom: 2px solid white;
    transition-delay: 0.1s;
}
nav li a{
    color: #ddd;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1rem;
    letter-spacing: 3px;
}
.logo{
    min-height: 8vh;
}
.mini-story h1{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    margin-left: 100px;
    margin-top: 20px;
}
.cover{
    height: 60vh;
    background: url(../images/Hemp-oil-versus-CBD-for-anti-inflammatory-skin-care.jpg) center no-repeat ;
    background-size: cover;
    opacity: 1;
}
.page-cover{
    text-align: center;
    padding: 70px;
}
.page-cover form{
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 30px;
}
.page-cover input[type="text"]{
    height: 5vh;
    width: 20%;
    border: 1px #111 solid;
    padding: 5px 5px;
}
.page-cover input[type="submit"]{
    background-color: steelblue;
    border: 5px steelblue solid;
    height: 5vh;
    cursor: pointer;
    color: white;
}
.page-cover h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.3rem;
    font-weight: 700;
}
.page-cover{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    font-weight: 700;
}
.mini-story ul{
    list-style: none;
    margin-bottom: 50px;
    display: flex;
    margin-left: 70px;
}
.mini-story img{
    border-radius: 2px;
    margin-right: 20px;
    margin-left: 20px;
}
.mini-story p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 1rem;
    margin-left: 20px;
}
.mini-story li{
    padding: 5px;
}
.mini-story ol{
    margin-right: 50px;
}
.home{
    background-color: #ddd;
    padding-top: 65px;
    height: 100vh;
}
.home-heading{
    color: white;
    float: right;
    font-size: 2.5rem;
    font-weight: 1000;
    letter-spacing: 1px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.cover-page{
    height: 40rem;  
}
.status{
    float: right;
}
.status h1{
    margin-right: 250px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}
.status p{
    font-family:  'Arial ';
    padding-bottom: 3px;
    margin-right: 20px;
}

.contact{
    padding: 20px;
}
.contact-page form{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
textarea{
    display: block;
    padding: 15px;
    width: 150vh;
    border: 1px #ddd solid;
    border-radius: 4px;
    font-size: 1.2rem;
}
.contact-page input[type="text"],.contact-page input[type="text"],.contact-page[type="text"]{
    display: block;
    padding: 15px;
    width: 150vh;
    border: 1px #ddd solid;
    border-radius: 4px;
    font-size: 1.2rem;
}
.contact-page input[type="submit"]{
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ddd;
    padding: 15px 40px;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: #ddd;
    font-size: 1.2rem;
}
.contact-page input[type="submit"]:hover{
    background: #2ecc71;
    color: white;
}
.contact-page h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 2px;
}
.contact-page h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
}
.contact-page h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}
.contact-page a{
    text-decoration: none;
}
.contact-page {
    text-align: center;
}
.contact-page img{
    margin-top: 25px;
    margin-bottom: 50px;
}
.contact-page p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 1.5rem;
    color: teal;
}
.blog{
    background-color: whitesmoke;
    padding: 40px;
}
.blog h2{
    text-align: center;
    padding: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 1000;
    padding-bottom: 5px;
}
.blog p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.05rem;
}
.blog-post{
    padding: 50px;
    padding-left: 150px;
    padding-right: 300px;
}
.blog-post ul{
    list-style: none;
}
.blog-post li{
    padding: 20px;
    display: flex;
}
.blog-post li img{
    border-radius: 2px;
}
.blog-post li p{
    padding-left: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: 700;
}
.blog-post li ol small{
    color: #ddd;
    padding-left: 15px;
}
.blog-post li ol h4{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 15px;
    padding-top: 3px;
    font-size: 0.9rem;
}
.blog-post li ol h5{
    padding-left: 15px;
    color: blue;
}
.blog-post li ol a{
    text-decoration: none;
}
.trends h2{
    font-family: 'Times New Roman', Times, serif;
    padding: 35px;
    margin-left: 150px;
    font-size: 2.5rem;
    font-weight: 800;
}
.trend-page{
    background-color: whitesmoke;
}
.trends{
    padding: 35px;
}
.trends img{
    margin-left: 150px;
    margin-bottom: 30px;
    border-radius: 3px;
}
.trends ul{
    list-style: none;
    margin-right: 250px;
}
.trends li{
    display: flex;
}
.trends li p{
    margin-left: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 700;
}
.trends li small{
    margin-left: 25px;
    color: #ddd;
    padding: 10px;
}
.trends li h4{
    margin-left: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    margin-top: 10px;
    font-weight: 400;
}
hr{
    margin-left: 100px;
    margin-right: 100px;
}
.mini-trends{
    padding: 25px;
}
.mini-trends ul{
    list-style: none;
    display: flex;
    margin-left: 80px;
}
.mini-trends li img{
    border-radius: 3px;
}
.mini-trends li{
    padding: 15px;
}
.mini-trends ol{
    margin-right: 40px;
}
.mini-trends li p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 5px;
    margin-bottom: 0;
}
.mini-trends hr{
    display: none;
}
.mini-trends li small{
    color: #ddd;
    margin-left: 15px;
}
.mini-trends li h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 10px;
}
.header{
    display: none;
}
.header div{
    width: 25px;
    height: 5px;
    color: #ddd;
    margin: 5px;
}

/* Responsive */

@media only screen and (max-width:1024px){
    nav ul{
        width: 100%;
    }
}

@media only screen and (max-width:880px){
    .page-cover input[type="text"]{
        width: 60%;
    }
    nav ul{
        position: absolute;
        left: 0px;
        height: 30vh;
        top: 8vh;
        background-color: #383232;
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    nav{
        display: flex;
        justify-content: space-around;
        padding-left: 20px;
    }
    .logo{
        margin-right: 330px;
    }
    .header{
        display: block;
        cursor: pointer;
    }
    .header div{
        background-color: #ddd;
        width: 25px;
        height: 3px;
        margin: 5px;
        transition: all 0.3s ease;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

@media only screen and (max-width:880px){
    .trends h2{
        margin-left: 0;
    }
    .trends li img{
        margin-left: 0;
        width: 300px;
        margin-left: 17px;
    }
    .trends li{
        display: block;
        align-items: center;
    }
    .trends ul{
        margin-right: 0;
        margin-left: 0;
    }
    hr{
        margin-right: 40px;
        margin-left: 40px;
    }
    .trends ol{
        margin-left: 0;
    }
    .mini-trends li img{
        width: 300px;
    }
    .mini-trends ul{
        display: block;
        margin-left: 0;
        margin-left: 15px;
        margin-right: 0;
    }
    .trend-page{
        margin-right: 0;
    }
    .mini-trends hr{
        display: block;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .blog-post{
        padding-left: 0;
        padding-right: 0;
        padding: 0;
    }
    .blog-post li{
        margin-right: 0;
    }
}

/* Footer */

@media only screen and (max-width:880px){
    .footer-centre,
    .footer-left,
    .footer-right,
    .footer-search{
        display: block;
        text-align: center;
        flex-direction: column;
        
    }
    .footer-left{
        margin-left: 0;
        margin-right: 0;
    }
    .footer-center{
        margin-right: 0;
    }
    .footer-right{
        margin-top: 0;
        margin-left: 0;
    }
    .footer-search{
        margin-top: 0;
        padding: 0;
        padding: 30px;
    }
    .main-part{
        display: block;
    }
}